@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body{
    background-image: url(./images/newyear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
}

.up_box {
    background-color: #583589;
    color: lightblue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 11px;
}

.box {
    margin-top: 13em;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: 300;
    margin-top: -17px;
    letter-spacing: 0px;
}

.lower_box {
    background-color: #092F6E;
    margin-top: -8px;
}

.title {
    font-size: 2em;
    color: lightblue;
}

.counter {
    font-size: 5em;
    color: white;
    letter-spacing: 3px;
    margin-bottom: -40px;
}